$primary-color: rgb(32, 2, 22);
$secondary-color: rgba(32, 2, 22, 0.85);
$light-color: #ffffff;

.contactBg {
  background: url("../../../assets/images/contact.png") top center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
}

.contactBg2 {
  background-color: rgb(32, 2, 22);
  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  opacity: 0.85;
  z-index: -1;
}

.contact-container {
  background-color: $secondary-color;
  color: $light-color;
  border-radius: 10px;
  padding: 2em;
  max-width: 100%; /* Ensure container doesn't exceed viewport width */

  .consultation-info {
    background: rgba(255, 255, 255, 0.1);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2em;

    h4 {
      font-family: "Righteous", sans-serif;
      font-size: 1.8rem;
      margin-bottom: 1em;
    }

    p {
      opacity: 0.8;
      margin-bottom: 1em;
    }
  }

  .contact-form,
  .contact-info {
    background: rgba(255, 255, 255, 0.1);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%; /* Ensure form/info doesn't exceed viewport width */

    h3 {
      font-family: "Righteous", sans-serif;
      font-size: 2rem;
      margin-bottom: 1em;
    }

    p {
      opacity: 0.8;
      margin-bottom: 0.5em;
    }

    form {
      .form-group {
        margin-bottom: 1.5em;
      }
      label,
      input,
      textarea {
        color: #cacaca;
      }

      button {
        padding: 0.75em;
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        color: $light-color;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}

/* Media Queries for Tablet */
@media (max-width: 1024px) {
  .contact-container {
    padding: 1em;

    .consultation-info,
    .contact-form,
    .contact-info {
      padding: 1.5em;

      h3,
      h4 {
        font-size: 1.8rem;
      }

      p {
        font-size: 0.9rem;
      }

      form .form-group input,
      form .form-group textarea {
        font-size: 0.9rem;
      }

      form button {
        padding: 0.5em;
        font-size: 0.9rem;
      }
    }
  }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .contact-container {
    padding: 1em;

    .consultation-info,
    .contact-form,
    .contact-info {
      padding: 1em;

      h3,
      h4 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }

      form .form-group input,
      form .form-group textarea {
        font-size: 0.9rem;
      }

      form button {
        padding: 0.5em;
        font-size: 0.9rem;
      }
    }
  }
}
