.navBarMain {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    // border: 1px solid red;

    .logo {
        :hover {
            cursor: pointer;
        }
    }

    .navBarLinks {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            a {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
