.navBarMain {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;

    // border: 1px solid red;

    .logo {
        img {
            background: white;
            padding: 0.5em;
            border-radius: 2px;
        }
        :hover {
            cursor: pointer;
        }
    }

    .navBarLinks {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            a {
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-weight: 600;
            }
        }
    }
}

.mobileNavBarMain {
    font-size: 0.8em;
    ul {
        padding-inline-start: 0;
        font-size: 0.9em;
    }
}

.mobileNavLinks {
    font-size: 0.9em;
}
