.homeBg {
    background: url("../../../assets/images/herobackground.png") top center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
}

.homeBg2 {
    background-color: rgb(32, 2, 22);
    width: 100dvw;
    height: 100dvh;
    background-size: cover;
    opacity: 0.85;
    z-index: -1;
}

.header {
    color: white;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 7em;
    padding-top: 5em;
    gap: 1em;

    &::before {
        content: "---------------------------- ";
    }

    &::after {
        content: " ------------------------------- ";
    }

    h6 {
        width: 50%;
    }
    h3 {
        width: 55%;
        font-family: "Righteous", sans-serif;
        letter-spacing: 0.07em;
    }
}

.mobileheader {
    padding: 1em;
    padding-left: 2em;
    padding-top: 1em;
    .mobileh6 {
        width: auto;
    }

    .mobileh3 {
        width: auto;
        font-size: 2.6rem;
    }
}
